<div class="container">
  <div class="row">
    <div class="col-7 my-5">
    <h4 style="background-color: #F5F5F5;", class="d-inline-flex px-3">商品編集</h4>
    </div>
  </div>

  <% if @item.errors.any? %>
  <%= @item.errors.count %>件のエラーが発生しました
  <div class="row-error">
    <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group row">
    <div class="col-8 mx-auto">
      <%= form_with model: @item, url:admin_item_path(@item.id), method: :patch do |f| %>
        <div class="row" >
          <div class="col-3">
          <label for="itemImage">商品画像</label>
          </div>
          <div class="col-5 mb-2">
          <%= f.file_field :image, accept: "image/*"%>
          </div>
        </div>
        <div class="row" >
          <div class="col-3">
          <label for="itemName">商品名</label>
          </div>
          <div class="col-5 mb-2">
          <%= f.text_field :name, placeholder: "商品名", style: "width:100%;" %>
          </div>
        </div>
        <div class="row" >
          <div class="col-3">
          <label for="itemintroduction">商品説明</label>
          </div>
          <div class="col-5 mb-2">
          <%= f.text_area :introduction, placeholder: "ここに説明文を記述します", style: "width:100%;" %>
          </div>
        </div>
        <div class="row" >
          <div class="col-3">
          <label for="itemGenre">ジャンル</label>
          </div>
          <div class="col-5 mb-2">
          <%= f.collection_select :genre_id, Genre.all, :id, :name, :prompt => "　　　--選択してください--　　　　", style: "width:100%;" %>
          </div>
        </div>
        <div class="row" >
          <div class="col-3">
          <label for="itemPrice">税抜価格</label>
          </div>
          <div class="col-5 mb-2">
          <%= f.text_field :price, placeholder: "1000", style: "width:100%;" %>
          </div>
          <span>円</span>
        </div>
        <div class="row">
          <div class="col-3">
          <label for="itemStatus">販売ステータス</label>
          </div>
          <div class="col-5 mb-3 mb-2">
            <%= f.radio_button :is_active, true %>
            <%= f.label :is_active, "販売中" %>

            <%= f.radio_button :is_active, false %>
            <%= f.label :is_active, "販売停止中" %>
          </div>
        </div>
        <div class="row">
        <div class="col-4 mx-auto">
          <%= f.submit '変更を保存', class: "btn btn-success font-weight-bold px-4" %>
        </div>
        </div>
      <% end %>
    </div>
  </div>
</div>