<div class="container">
  <div class="row">
    <div class="col-7 my-5">
    <h4 style="background-color: #F5F5F5;", class="d-inline-flex px-3">商品編集</h4>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-8 mx-auto">
      <%= form_with model: @item, url:admin_item_path(@item.id), method: :patch do |f| %>
        <div class="row" >
          <div class="col-3">
          <label for="itemImage">商品画像</label>
          </div>
          <div class="col-5 mb-2">
          <%= f.file_field :image, accept: "image/*"%>
          </div>
        </div>
        <div class="row" >
          <div class="col-3">
          <label for="itemName">商品名</label>
          </div>
          <div class="col-5 mb-2">
          <%= f.text_field :name, placeholder: "商品名", style: "width:100%;" %>
          </div>
        </div>
        <div class="row" >
          <div class="col-3">
          <label for="itemintroduction">商品説明</label>
          </div>
          <div class="col-5 mb-2">
          <%= f.text_area :introduction, placeholder: "ここに説明文を記述します", style: "width:100%;" %>
          </div>
        </div>
        <div class="row" >
          <div class="col-3">
          <label for="itemGenre">ジャンル</label>
          </div>
          <div class="col-5 mb-2">
          <%= f.collection_select :genre_id, Genre.all, :id, :name, :prompt => "　　　--選択してください--　　　　", style: "width:100%;" %>
          </div>
        </div>
        <div class="row" >
          <div class="col-3">
          <label for="itemPrice">税抜価格</label>
          </div>
          <div class="col-5 mb-2">
          <%= f.text_field :price, placeholder: "1000", style: "width:100%;" %>
          </div>
          <span>円</span>
        </div>
        <div class="row">
          <div class="col-3">
          <label for="itemStatus">販売ステータス</label>
          </div>
          <div class="col-5 mb-3 mb-2">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline1">販売中</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline mb-4">
            <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline2">販売停止中</label>
          </div>
          </div>
        </div>
        <div class="row">
        <div class="col-4 mx-auto">
          <%= f.submit '変更を保存', class: "btn btn-success font-weight-bold px-4" %>
        </div>
        </div>
      <% end %>
    </div>
  </div>
</div>