<div class= "container">
<div class="row">
  <div class= "col-2">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ジャンル検索</th>
      </tr>
    </thead>
    <tbody>
      <% @genres.each do |genre| %>
      <tr>
        <th class="font-weight-normal"><%= genre.name %></th>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>

  <div class= "col-9 pb-3 pr-0">
    <div class= "main_image">
      <div class= "main-contents ml-auto">
        <h3 class= "main-text"><strong>ようこそ、ながのCAKEへ！</strong></h3>
        <p class= "main-text">このサイトは、ケーキ販売のECサイトになります。</p>
        <p class= "main-text">会員でない方も商品の閲覧はできますが、</p>
        <p class= "main-text">購入には会員登録が必要になります。</p>
      </div>
    </div>
    <div>
      <h1><strong>新着商品</strong></h1>
    </div>
    <div>
      <div class="font-weight-bold d-flex justify-content-between">
        <% @items.each do |item| %>
        <div>
          <div><p><%= image_tag item.get_image(100,200) %></p></div>
          <div><p><%= item.name %></p></div>
          <div><p>¥<%= item.price.to_s(:delimited) %></p></div>
        </div>
        <% end %>
      </div>
        <p class="text-right"><%= link_to "全ての商品を見る>", customers_items_path %></p>
    </div>
  </div>
</div>
</div>