<div class="container">
  <div class="row">
    <div class="col-10 my-4 mx-auto">
      <h4 style="background-color: #F5F5F5;", class="d-inline-flex px-3">注文履歴一覧</h4>
    </div>
  </div>

  <div class="row">
    <table class="table col-10 mx-auto">
      <thead style="background-color: #F5F5F5;">
        <tr>
          <th>購入日時</th>
          <th>購入者</th>
          <th>注文個数</th>
          <th>注文ステータス</th>
        </tr>
      </thead>
      <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td>
            <%= link_to admin_order_path(order.id) do %>
              <%= order.created_at.strftime('%Y/%m/%d %T') %>
            <% end %>
          </td>
          <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
          <td><%= order.order_details.sum(:amount) %></td>
          <td><%= order.order_status_i18n %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @orders %>
</div>