<div class="container">
  <div class="row">
    <div class="col-7 my-4 mx-5">
      <h4 style="background-color: #F5F5F5;", class="d-inline-flex px-3">注文履歴詳細</h4>
    </div>

    <div class="col-12 mb-4">
      <div class="d-flex">
        <p style="width:67%;"><strong>注文情報</strong></p>
        <p style="width:32%;"><strong>請求情報</strong></p>
      </div>
      <tablev class="d-flex">
        <tr>
          <table class="col-7 table-bordered mr-auto">
            <tbody>
              <tr>
                <td class="cart table-active", style="width: 20%;">注文日</td>
                <td class= "cart", style="width: 40%;"><%= @order.created_at.strftime('%Y/%m/%d') %></td>
              </tr>
              <tr>
                <td class="cart table-active", style="width: 20%;">配送先</td>
                <td class= "cart", style="width: 40%;">
                  〒<%= @order.postal_code %></br>
                  <%= @order.address %></br>
                  <%= @order.name %>
                </td>
              </tr>
              <tr>
                <td class="cart table-active", style="width: 20%;">支払方法</td>
                <td class= "cart", style="width: 40%;"><%= @order.payment_method_i18n %></td>
              </tr>
              <tr>
                <td class="cart table-active", style="width: 20%;">ステータス</td>
                <td class= "cart", style="width: 40%;"><%= @order.order_status_i18n %></td>
              </tr>
            </tbody>
          </table>
        </tr>
        <tr>
          <table class="col-4 table-bordered ml-auto">
            <tbody>
              <tr>
                <td class="order table-active", style="width: 15%;">商品合計</td>
                <td class="order", style="width: 15%;"><%= (@order.price).to_s(:delimited) %></td>
              </tr>
              <tr>
                <td class="order table-active", style="width: 15%;">配送料</td>
                <td class="order", style="width: 15%;"><%= @order.postage.to_s(:delimited) %></td>
              </tr>
              <tr>
                <td class="order table-active", style="width: 15%;"><strong>ご請求額</strong></td>
                <td class="order", style="width: 15%;"><%= (@order.price + @order.postage).to_s(:delimited) %></td>
              </tr>
            </tbody>
          </table>
        </tr>
      </table>
    </div>

    <div class="col-12">
      <p><strong>注文内容</strong></p>
      <table class="table-bordered">
        <tbody>
          <tr>
            <td class="col-6 table-active py-3">商品</td>
            <td class="col-2 table-active py-3">単価（税込）</td>
            <td class="col-2 table-active py-3">個数</td>
            <td class="col-2 table-active py-3">小計</td>
          </tr>
          <% @order.order_details.each do |order_detail| %>
            <tr>
              <td class="py-3"><%= order_detail.item.name %></td>
              <td class="py-3"><%= order_detail.item.with_tax_price.to_s(:delimited) %></td>
              <td class="py-3"><%= order_detail.amount %></td>
              <td class="py-3"><%= (order_detail.item.with_tax_price*order_detail.amount).to_s(:delimited) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>