<div class="container">
  <div class="row">
    <div class="col-8 my-5">
      <h4 style="background-color: #F5F5F5;", class="d-inline-flex px-3"><strong>ログイン</strong></h4>
    </div>
    <div class="col-7">
      <h6 class= "d-inline-flex mb-3" style="background-color: #F5F5F5;"><strong>会員の方はこちらからログイン</strong></h6>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-9 mx-auto">
    <%= form_with model:@customer, url: customer_session_path do |f| %>
      <div class="field row mb-3" >
        <%= f.label :"メールアドレス", class: "col-2" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "form-control col-6 offset-1" %>
      </div>

      <div class="field row mb-5">
        <%= f.label :"パスワード", class: "col-2" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control col-6 offset-1" %>
      </div>

      <div class="actions mb-5">
        <%= f.submit "ログイン", class: "btn btn-primary offset-3 px-5" %>
      </div>
    <% end %>
    </div>
    <div>
      <p class= "col-8 mb-3 d-inline-flex" style="background-color: #F5F5F5;"><strong>会員登録がお済みでない方</strong></p>
      <p class= "col ml-5"><%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。</p>
    </div>
  </div>
</div>

